*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TimesNewRoman', serif;
}

#carouselExampleControls carousel-caption{
    color: black !important;
    right: 58% !important;
    text-align: center !important;
    max-width: 500px !important;
    left: auto !important;
    top: auto !important;
}

html {
    background-color: black;
  }
